.root{
    text-align: center;
    div{
        display: inline-block;
        border: 1px solid #000;
        width:100px;
        height: 100px;
        border-radius: 5px;
        transition: 1s ease all;
        margin: 20px;
        &.a{
            animation: a 4s infinite linear;
            transform-origin: left top;//参考运动中心点
            &:hover{
                animation-play-state: paused;
            }
        }
        &.b:hover{
            //  scale 放大缩小
            // rotate 环绕 旋转
            transform: scale(1.2,1.2) ;
        }
        &.c:hover{
            transform: translate(0px,40px);
        }
        &.d:hover{
            transform: skew(20deg,40deg);
        }
        &.e{
            animation: e 4s infinite linear;
        }
    }
}

.some{
    text-align: center;
    div{
        display: inline-block;
        border: 1px solid #000;
        width:100px;
        height: 100px;
        border-radius: 5px;
        margin: 20px;
        &.a{
            transition-duration: 1s ;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.5, -1, 0.5, 2.34);
            transition-delay: 0.5s;
            &:hover{
                background-color: red;
                height: 200px;
            }
        }
        &.b{
            animation-name: a;
        }
    }
}

@keyframes e{
    0%{transform: perspective(500px) rotateX(0deg)}
    100%{transform: perspective(500px) rotateX(360deg)}
}

@keyframes a{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg)}
}